<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>BID | Driver</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/stylesheets/profile/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/stylesheets/profile/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/stylesheets/profile/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/stylesheets/profile/_all-skins.min.css">

    <link rel="stylesheet" href="/vendor/toast/toastr.min.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="img/2140822-RKJFOMQX-7.jpg" class="navbar-brand"><b>BID</b> DRIVER</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="img/2140822-RKJFOMQX-7.jpg" class="img-circle"
                                                         alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li><!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                         role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                         aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="img/2140822-RKJFOMQX-7.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="img/2140822-RKJFOMQX-7.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-custom-menu -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 no-padding">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            Home BID
                            <small>Hướng tới tương lai !!</small>
                        </h1>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        <div class="insert-after"></div>
                        <% if (dataIndex.length > 0) { %>
                        <% dataIndex.forEach(x=> { %>
                        <div class="box box-danger block-post" id="<%= x.post._id%>">
                            <div class="box-header ui-sortable-handle" style="cursor: move;">
                                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                                    <i class="fa fa-comments-o"></i>
                                    <h3 class="box-title">Book Bike</h3>
                                </div>
                            </div>
                            <div class="box-body">

                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="<%= x.poster.picture %>" alt="<%= x.poster.fullName %>">
                                    <span class="username">
                                        <a href="#"><%= x.poster.fullName%></a>
                                    </span>
                                    <span class="description"><%= x.post.createAt%></span>
                                </div>

                                <p style="text-transform: uppercase; color: #333; font-weight: bold; font-size: 15px; margin-bottom: 15px; margin-top: 10px">
                                    <i class="fa fa-motorcycle" aria-hidden="true"></i>
                                    </i>&nbsp;&nbsp;Lộ trình</p>
                                <table class="table">
                                    <tbody>
                                    <tr style="text-align: center;">
                                        <td>
                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                              <b>Điểm đi</b>
                                          </span>
                                        </td>
                                        <td><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></td>
                                        <td>
                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                               <b>Điểm đến</b>
                                           </span>
                                        </td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td><%= x.post.location%></td>
                                        <td></td>
                                        <td><%= x.post.destination %></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p style="text-transform: uppercase; color: #333; font-weight: bold; font-size: 15px; margin-bottom: 15px; margin-top: 10px">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                    </i>&nbsp;&nbsp;Giá</p>
                                <table class="table">
                                    <tbody>
                                    <tr style="text-align: center;">
                                        <td>
                                            <span><i class="fa fa-money" aria-hidden="true"></i></i>
                                                <b>Best BID</b>
                                            </span>
                                        </td>
                                        <td>
                                            <i class="fa fa-arrows-h"></i>
                                        </td>
                                        <td>
                                            <span><i class="fa fa-gg" aria-hidden="true"></i>
                                              <b>Đơn vị</b></span>
                                        </td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td>
                                            <span class="badge bg-green" id="<%= x.post._id%>-best-price"><%= x.bestPrice %></span>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <span class="badge bg-danger">VNĐ</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p style="text-transform: uppercase; color: #333; font-weight: bold; font-size: 15px; margin-bottom: 15px; margin-top: 10px">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Thông tin tập trung
                                </p>
                                <p class="trip-info"><%= x.post.status %></p>
                                <p style="text-transform: uppercase; color: #333; font-weight: bold; font-size: 15px; margin-bottom: 15px; margin-top: 10px">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Thời gian còn lại
                                </p>
                                <span class="badge bg-red count-downs-expiredTime" data-await-time="<%= x.post.expiredTime%>"></span>

                            </div>
                            <div class="box-footer">
                                <label for="driver-bid" class="col-sm-2 control-label">BID</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control driver-bid" placeholder="BID" value="<%= x.driverBid.price%>">
                                </div>

                                <label for="driver-arrival-time" class="col-sm-2 control-label">Thời gian tới</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control driver-arrival-time" placeholder="Phút">
                                </div>
                                <div class="col-sm-3">
                                    <a type="submit" class="btn btn-danger pull-right btn-block btn-sm send-bid">Send</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <% } %>
                    </section>
                    <!-- /.content -->
                </div>
                <div class="col-md-3 no-padding">
                    <div class="content-header">
                        <h1>
                            Top Driver
                        </h1>
                    </div>
                    <div class="content">
                        <div class="box box-info" id="top-drivers-bid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="#">PTIT Team</a>.</strong> All rights
            reserved.
        </div>
        <!-- /.container -->
    </footer>
</div>
<!-- ./wrapper -->
<div class="modal modal-info fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">TÌm thấy khách hàng cho bạn</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript" src="/javascripts/profilejs/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/profilejs/jquery.validate.min.js"></script>
<!-- Bootstrap 3.3.7-->
<script src="/javascripts/profilejs/bootstrap.min.js"></script>
<script src="/javascripts/profilejs/adminlte.min.js"></script>
<script src="/vendor/bootbox/bootbox.min.js"></script>
<script src="/vendor/toast/toastr.min.js"></script>
<script src="/vendor/toast/notify.option.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/driverjs/index.js"></script>
<script>
    $(document).ready(function (evt) {
        bidSocket.driverSocket();
        $('.block-post').each(function (val,item) {
            var idPost = $(this).attr('id');
            countDownsBlock(idPost);
        });

    });

</script>
</body>
</html>
