<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="duybach">

	<title><%= title %></title>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<!-- Bootstrap Core CSS -->
	<link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/admin/stylesheets/sb-admin.css" rel="stylesheet">
	<link href="/admin/stylesheets/jquery.dataTables.min.css" rel="stylesheet">
	<script src="/admin/javascripts/jquery.dataTables.min.js"></script>

	<!-- Morris Charts CSS -->
	<link href="/admin/stylesheets/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="/admin/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<script type="text/javascript">
		$(document).ready( function () {
			$('#myTable').DataTable();
		});	
		$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
	</script>

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admins/">Team Ptit</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu message-dropdown">
						<li class="message-preview">
							<a href="#">
								<div class="media">
									<span class="pull-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading"><strong>John Smith</strong>
										</h5>
										<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						<li class="message-preview">
							<a href="#">
								<div class="media">
									<span class="pull-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading"><strong>Group 2 Ptit</strong>
										</h5>
										<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						<li class="message-preview">
							<a href="#">
								<div class="media">
									<span class="pull-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading"><strong>Group 2 Ptit</strong>
										</h5>
										<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						<li class="message-footer">
							<a href="#">Read All New Messages</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown">
						<li>
							<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
						</li>
						<li>
							<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
						</li>
						<li>
							<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
						</li>
						<li>
							<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
						</li>
						<li>
							<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
						</li>
						<li>
							<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">View All</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Group 2 Ptit <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="active">
						<a href="/admins/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
					</li>
					<li>
						<a href="/admins/customer"><i class="fa fa-fw fa-bar-chart-o"></i> Customer</a>
					</li>
					<li>
						<a href="/admins/driver"><i class="fa fa-fw fa-table"></i> Driver</a>
					</li>

					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="demo" class="collapse">
							<li>
								<a href="#">Dropdown Item</a>
							</li>
							<li>
								<a href="#">Dropdown Item</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">
			<h1 class="text-center">Manager Customer</h1>

			<!-- /.container-fluid -->
			<table class="table table-stdiped table-hover table-border" id="myTable">
				<thead>
					<th>#</th>
					<th>Avatar</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Status</th>
				</thead>
				<tbody>
					<% data.forEach(function(motphantu, index){ 
						var status = "";
						var color_status = "";
						if(motphantu.isActive == true){
							status = "Lock";
							color_status = "success";
						}else{
							status = "Active";
							color_status = "default";
						}


						%>
						<tr >
							<td><%= index+1 %></td>
							<td><img src="/admin<%= motphantu.picture %>" alt="picture.jpg" width="100" height="100"></td>
							<td><%= motphantu.fullName %></td>
							<td><%= motphantu.email %></td>
							<td><%= motphantu.phone %></td>
							<td>
								<a  data-id= "<%= motphantu._id%>" data-bind="<%= motphantu.isActive %>" data-action='<%= status%>' class="active-user btn btn-<%= color_status %> center"><%= status %></a>
							</td>
						</tr>
						<% }); %>


					</tbody>
				</table>

			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->

		<!-- jQuery -->
		<!-- <script src="/admin/javascripts/jquery.js"></script> -->

		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/javascripts/bootstrap.min.js"></script>

		<!-- Morris Charts JavaScript -->
		<script src="/admin/javascripts/plugins/morris/raphael.min.js"></script>
		<script src="/admin/javascripts/plugins/morris/morris.min.js"></script>
		<script src="/admin/javascripts/plugins/morris/morris-data.js"></script>
		




<script type="text/javascript">

	$(".active-user").click(function(){
		var id = $(this).attr("data-id");
		var active_user = $(this).attr("data-bind");
		var active = active_user === "true" ? false : true;

		$.ajax({
			url : "/admins/activeCustomerAjax",
			type : "POST",
			dataType: 'json',
			data :{id:id ,active:active},
			success : function(result){
				if(result.status === 'OK'){
					window.location.reload(true);
				}else{
					alert('That bai');
				}
				return false;
            // dung chuong trinh
        },
        error: function(err){
        	console.log(err.responseText);
        }
    });
	})

</script>


	</body>

	</html>
