<% include partials/header %>

<% include partials/sidebar %>

		<div id="page-wrapper">
			<h1 class="text-center">Manager Driver</h1>

			<!-- /.container-fluid -->
			<table class="table table-stdiped table-hover table-border" id="myTable">
				<thead>
					<th>#</th>
					<th>Avatar</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Status</th>
				</thead>
				<tbody>
					<% data.forEach(function(motphantu, index){ 
						var status = "";
						var color_status = "";
						if(motphantu.isActive == true){
							status = "Lock";
							color_status = "success";
						}else{
							status = "Active";
							color_status = "default";
						}


						%>
						<tr >
							<td><%= index+1 %></td>
							<td><img src="/admin<%= motphantu.picture %>" alt="picture.jpg" width="100" height="100"></td>
							<td><%= motphantu.fullName %></td>
							<td><%= motphantu.email %></td>
							<td><%= motphantu.phone %></td>
							<td>
								<a  data-id= "<%= motphantu._id%>" data-bind="<%= motphantu.isActive %>" data-action='<%= status%>' class="active-driver btn btn-<%= color_status %> center"><%= status %></a>
							</td>
						</tr>
						<% }); %>


					</tbody>
				</table>

			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->





<script type="text/javascript">

	$(".active-driver").click(function(){
		var id = $(this).attr("data-id");
		var active_user = $(this).attr("data-bind");
		var active = active_user === "true" ? false : true;

		$.ajax({
			url : "/admins/activeDriverAjax",
			type : "POST",
			dataType: 'json',
			data :{id:id ,active:active},
			success : function(result){
				if(result.status === 'OK'){
					window.location.reload(true);
				}else{
					alert('That bai');
				}
				return false;
            // dung chuong trinh
        },
        error: function(err){
        	console.log(err.responseText);
        }
    });
	})

</script>


<% include partials/footer %>