<% include partials/header %>

<% include partials/sidebar %>

		<div id="page-wrapper">
			<h1 class="text-center">Manager Driver</h1>

			<!-- /.container-fluid -->
			<table class="table table-stdiped table-hover table-border" id="myTable">
				<thead>
					<th>#</th>
					<th>Customer Name</th>
					<th>Driver Name</th>
					<th>Location Original</th>
					<th>Location Destination</th>
					<th>Price</th>
					<th>Create Time</th>
					<th>Action</th>
				</thead>
				<tbody>
					<% data.forEach(function(motphantu, index){ %>
						<tr class="text-center">
							<td><%= index+1 %></td>
							<td><%= motphantu.customerName %></td>
							<td><%= motphantu.driverName %></td>
							<td><%= motphantu.location %></td>
							<td><%= motphantu.destination %></td>
							<td><%= motphantu.price %> VND</td>
							<td><%= motphantu.createAt %></td>
							<td><a href="/admins/deleteOrder/<%= motphantu.orderId %>" class="active-user btn btn-warning center">Delete</a></td>
						</tr>
						<% }); %>
					</tbody>
				</table>

			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->


<% include partials/footer %>